# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Webworkplace\Online_Ordering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
